@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @Html.ActionLink("Cadastrar Cliente", "Create", "Clientes", null, new { @class = "btn btn-primary", style="background-color:darkgreen"})
</div>
